.section-heading {
    margin-bottom: 50px;
    position: relative;
}

@media screen and (max-width: 374px) {
    .section-heading {
        margin-bottom: 30px;
    }
}

.section-heading .section-title-top {
    font-size: 26px;
    display: inline-block;
    font-weight: 700;
    position: relative;
    color: hsl(var(--white));
    z-index: 1;
    margin: 5px 0px 20px 20px;
}

.section-heading .section-title-top::before {
    position: absolute;
    left: -9px;
    top: -6px;
    height: 50px;
    width: 50px;
    background: hsl(var(--base));
    content: "";
    z-index: -1;
    border-radius: 25px 10px 25px 10px;
}

.section-heading .subtitle {
    font-size: 20px;
    font-weight: 800;
    color: hsl(var(--base));
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 12px;
    text-transform: capitalize;
}

.section-heading__title {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    text-transform: capitalize;
    position: relative;
}

.section-heading__title.price {
    color: hsl(var(--base));
    margin-bottom: 15px;
}

.section-heading__title .animate-shape {
    position: relative;
    width: 70%;
    top: 0;
    position: absolute;
    left: 0;
}

@media screen and (max-width: 767px) {
    .section-heading__title .animate-shape {
        width: 65%;
    }
}

.section-heading__title .animate-shape img {
    position: absolute;
    top: 35px;
    left: 0;
    z-index: -1;
    -webkit-animation: section-animation 3s infinite;
    animation: section-animation 3s infinite;
}

@media screen and (max-width: 767px) {
    .section-heading__title .animate-shape img {
        top: 19px;
    }
}

.section-heading__title .animate-shape.center {
    left: 37%;
    width: 50%;
}

@media screen and (max-width: 767px) {
    .section-heading__title {
        font-size: 28px;
    }
}

@media screen and (max-width: 374px) {
    .section-heading__title {
        font-size: 25px;
    }
}

.section-heading__desc {
    max-width: 750px;
    left: 0px;
}

.btn {
    color: hsl(var(--white));
    font-weight: 500;
    padding: 12px 22px;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    text-align: center;
    border: 1px solid transparent;
    text-transform: capitalize;
    font-weight: 600;
    transition: 0.5s;
    font-family: var(--heading-font);
    font-size: 17px;
    transition: 0.5s;
    overflow: hidden;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 0px;
    background-color: hsl(var(--white));
    top: 0;
    right: 50%;
    z-index: -1;
    border-radius: 6px;
    transition: 0.5s;
}

.btn::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 0px;
    background-color: hsl(var(--white));
    top: 0;
    left: 50%;
    z-index: -1;
    border-radius: 6px;
    transition: 0.5s;
}

@media screen and (max-width: 767px) {
    .btn {
        padding: 11px 25px;
    }
}

@media screen and (max-width: 575px) {
    .btn {
        padding: 11px 20px;
    }
}

.btn:hover, .btn:focus {
    color: hsl(var(--white));
    border-color: transparent;
    border-radius: 6px;
}

.btn--lg {
    padding: 15px 35px;
}

@media screen and (max-width: 767px) {
    .btn--lg {
        padding: 13px 30px;
    }
}

@media screen and (max-width: 575px) {
    .btn--lg {
        padding: 11px 25px;
    }
}

.btn--sm {
    padding: 6px 15px;
    background-color: hsl(var(--base));
    color: hsl(var(--white));
}

.btn--sm:hover, .btn--sm:focus {
    background-color: hsl(var(--white));
    border: 1px solid hsl(var(--base));
    color: hsl(var(--base));
    border-radius: 15px 0px 15px;
}

@media screen and (max-width: 767px) {
    .btn--sm {
        padding: 5px 8px;
    }
}

.btn--ssm {
    padding: 4px 10px;
    background-color: hsl(var(--base));
    color: hsl(var(--white));
    font-size: 14px;
}

.btn--ssm:hover, .btn--ssm:focus {
    background-color: hsl(var(--white));
    border: 1px solid hsl(var(--base));
    color: hsl(var(--base));
}

@media screen and (max-width: 767px) {
    .btn--ssm {
        padding: 3px 8px;
    }
}

.btn--icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    padding: 0;
}

.btn--base {
    background-color: hsl(var(--base));
    color: hsl(var(--white));
}

.btn--base.style-1 {
    background-color: hsl(var(--white));
    color: hsl(var(--base));
}

.btn--base.style-1::before {
    background-color: hsl(var(--base));
}

.btn--base.style-1:hover {
    color: hsl(var(--white));
}

.btn--base:hover::before {
    height: 100%;
    width: 50%;
    transform: rotate(180deg);
}

.btn--base:hover::after {
    height: 100%;
    width: 50%;
    transform: rotate(180deg);
}

.btn--base:hover, .btn--base:focus {
    background-color: hsl(var(--white));
    border: 1px solid hsl(var(--base));
    color: hsl(var(--base));
    border-radius: 6px;
}

.btn--base.pill {
    border-radius: 35px;
}

.btn--base.outline {
    background-color: transparent;
    border: 1px solid hsl(var(--base));
    color: hsl(var(--base));
    border-radius: 4px;
}

.btn--base.outline.hover-white-c:hover, .btn--base.outline.hover-white-c:focus {
    color: hsl(var(--white));
}

.btn--base.outline:hover, .btn--base.outline:focus {
    background-color: hsl(var(--base));
    color: hsl(var(--white));
}

.btn--simple__icon {
    font-size: 13px;
    margin-left: 5px;
}

.btn--primary {
    background-color: hsl(var(--primary));
}

.btn--primary:hover, .btn--primary:focus {
    background-color: hsl(var(--primary-d-100));
}

.btn--primary.pill {
    border-radius: 35px;
}

.btn--primary.outline {
    border: 1px solid hsl(var(--primary));
    background-color: transparent;
    color: hsl(var(--primary));
}

.btn--primary.outline:hover, .btn--primary.outline:focus {
    background-color: hsl(var(--primary));
    color: hsl(var(--white));
}

.btn--secondary {
    background-color: hsl(var(--secondary));
}

.btn--secondary:hover, .btn--secondary:focus {
    background-color: hsl(var(--secondary-d-100));
}

.btn--secondary.pill {
    border-radius: 35px;
}

.btn--secondary.outline {
    border: 1px solid hsl(var(--secondary));
    background-color: transparent;
    color: hsl(var(--black));
}

.btn--secondary.outline:hover, .btn--secondary.outline:focus {
    background-color: hsl(var(--secondary));
    color: hsl(var(--white));
}

.btn--success {
    background-color: hsl(var(--success));
}

.btn--success:hover, .btn--success:focus {
    background-color: hsl(var(--success-d-100));
}

.btn--success.pill {
    border-radius: 35px;
}

.btn--success.outline {
    border: 1px solid hsl(var(--success));
    background-color: transparent;
    color: hsl(var(--success));
}

.btn--success.outline:hover, .btn--success.outline:focus {
    background-color: hsl(var(--success));
    color: hsl(var(--white));
}

.btn--danger {
    background-color: hsl(var(--danger));
}

.btn--danger:hover, .btn--danger:focus {
    background-color: hsl(var(--danger-d-100));
}

.btn--danger.pill {
    border-radius: 35px;
}

.btn--danger.outline {
    border: 1px solid hsl(var(--danger));
    background-color: transparent;
    color: hsl(var(--danger));
}

.btn--danger.outline:hover, .btn--danger.outline:focus {
    background-color: hsl(var(--danger));
    color: hsl(var(--white));
}

.btn--warning {
    background-color: hsl(var(--warning));
}

.btn--warning:hover, .btn--warning:focus {
    background-color: hsl(var(--warning-d-100));
}

.btn--warning.pill {
    border-radius: 35px;
}

.btn--warning.outline {
    border: 1px solid hsl(var(--warning));
    background-color: transparent;
    color: hsl(var(--warning));
}

.btn--warning.outline:hover, .btn--warning.outline:focus {
    background-color: hsl(var(--warning));
    color: hsl(var(--white));
}

.btn--info {
    background-color: hsl(var(--info));
}

.btn--info:hover, .btn--info:focus {
    background-color: hsl(var(--info-d-100));
}

.btn--info.pill {
    border-radius: 35px;
}

.btn--info.outline {
    border: 1px solid hsl(var(--info));
    background-color: transparent;
    color: hsl(var(--info));
}

.btn--info.outline:hover, .btn--info.outline:focus {
    background-color: hsl(var(--info));
    color: hsl(var(--white));
}

.btn--violet {
    background-color: hsl(var(--violet));
}

.btn--violet:hover, .btn--violet:focus {
    background-color: hsl(var(--violet-d-100));
}

.btn--violet.pill {
    border-radius: 35px;
}

.btn--violet.outline {
    border: 1px solid hsl(var(--violet));
    background-color: transparent;
    color: hsl(var(--violet));
}

.btn--violet.outline:hover, .btn--violet.outline:focus {
    background-color: hsl(var(--violet));
    color: hsl(var(--white));
}

.btn--small {
    color: hsl(var(--base));
    font-weight: 700;
    padding: 3px 10px;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    text-align: center;
    border: 1px solid hsl(var(--base));
    text-transform: capitalize;
    font-weight: 600;
    transition: 0.5s;
    font-family: var(--heading-font);
    font-size: 13px;
    transition: 0.5s;
}

.btn--small:hover, .btn--small .btn--small:focus {
    background-color: hsl(var(--base));
    border: 1px solid hsl(var(--base));
    color: hsl(var(--white));
    border-radius: 6px;
}

.about-section {
    overflow: hidden;
    position: relative;
}

.about-section .about-bg {
    position: absolute;
    bottom: 0;
}

.about-section .square-shape-1 {
    position: absolute;
    left: -15px;
    top: -28px;
}

.about-section .square-shape-2 {
    position: absolute;
    right: -53px;
    bottom: -54px;
}

@media screen and (max-width: 1399px) {
    .about-section .square-shape-2 {
        right: -14px;
    }
}

@media screen and (max-width: 1199px) {
    .about-section .square-shape-2 {
        right: -14px;
        bottom: -2px;
    }
}

@media screen and (max-width: 991px) {
    .about-section .square-shape-2 {
        right: -11px;
        bottom: -78px;
    }
}

@media screen and (max-width: 575px) {
    .about-section .square-shape-2 {
        right: 46px;
        bottom: -35px;
    }
}

.about-thumb {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}

@media screen and (max-width: 991px) {
    .about-thumb {
        padding: 0;
    }
}

.about-thumb__inner img {
    border-radius: var(--border-radius);
}

.about-thumb__inner img.img-1 {
    width: 400px;
    position: absolute;
    right: -9px;
    top: 66%;
    height: 300px;
    object-fit: cover;
    border-radius: var(--border-radius);
}

@media screen and (max-width: 1399px) {
    .about-thumb__inner img.img-1 {
        top: 70%;
        height: 390px;
    }
}

@media screen and (max-width: 991px) {
    .about-thumb__inner img.img-1 {
        top: 43%;
        height: 287px;
    }
}

@media screen and (max-width: 575px) {
    .about-thumb__inner img.img-1 {
        display: none;
    }
}

.about-thumb .about-contact {
    border-radius: var(--border-radius);
    background: hsl(var(--white));
    padding: 25px;
    position: absolute;
    bottom: -63px;
    left: 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media screen and (max-width: 1199px) {
    .about-thumb .about-contact {
        bottom: -10px;
    }
}

@media screen and (max-width: 991px) {
    .about-thumb .about-contact {
        bottom: -100px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 575px) {
    .about-thumb .about-contact {
        display: none !important;
    }
}

.about-thumb .about-contact i {
    color: hsl(var(--base));
    font-size: 24px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    background: hsl(var(--base)/0.2);
}

.about-thumb .about-contact h4 {
    color: hsl(var(--black));
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 3px;
}

.about-thumb .about-contact a {
    color: hsl(var(--black));
    font-weight: 400;
    font-size: 14px;
    transition: all 0.4s ease-in-out;
}

.about-thumb .about-contact a:hover {
    text-decoration: underline;
}

.about-thumb .about-contact-top {
    width: auto;
    bottom: -185px;
    background: hsl(var(--base));
    padding: 15px 20px;
    position: absolute;
    left: 37px;
    border-radius: var(--border-radius);
}

@media screen and (max-width: 1199px) {
    .about-thumb .about-contact-top {
        bottom: -135px;
    }
}

@media screen and (max-width: 991px) {
    .about-thumb .about-contact-top {
        bottom: -75px;
    }
}

@media screen and (max-width: 575px) {
    .about-thumb .about-contact-top {
        bottom: -60px;
        left: 10%;
    }
}

.about-thumb .about-contact-top h4 {
    font-size: 45px;
    text-align: center;
    color: hsl(var(--white));
    margin-bottom: 0;
    font-weight: 700;
}

.about-thumb .about-contact-top span {
    color: hsl(var(--white));
    font-weight: 600;
    font-size: 13px;
}

@media screen and (max-width: 991px) {
    .about-right-content {
        padding-left: 0;
    }
}

.about-right-content .about-service li {
    display: flex;
    padding-bottom: 10px;
    flex-wrap: wrap;
}

.about-right-content .about-service li:last-child {
    padding-bottom: 0;
}

.about-right-content .about-service li span {
    padding-right: 65px;
    display: flex;
}

.about-right-content .about-service li span i {
    color: hsl(var(--base));
    margin-right: 10px;
    margin-top: 4px;
}

.about-bottom {
    display: flex;
    flex-wrap: wrap;
}

.about-bottom .founder {
    display: flex;
    flex-wrap: wrap;
}

.about-bottom .founder img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.about-bottom .founder .founder-text h4 {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 17px;
}

.about-bottom ul li {
    display: flex;
    margin-bottom: 5px;
}

.about-bottom ul li i {
    color: hsl(var(--base));
    margin-right: 10px;
    margin-top: 8px;
}
